Control theory is an interdisciplinary branch of engineering and mathematics that deals with the behavior of dynamical systems with inputs, and how their behavior is modified by feedback. The usual objective of control theory is to control a system, often called the plant, so its output follows a desired control signal, called the reference, which may be a fixed or changing value. To do this a controller is designed, which monitors the output and compares it with the reference. The difference between actual and desired output, called the error signal, is applied as feedback to the input of the system, to bring the actual output closer to the reference. Some topics studied in control theory are stability (whether the output will converge to the reference value or oscillate about it), controllability and observability.

Extensive use is usually made of a diagrammatic style known as the block diagram. The transfer function, also known as the system function or network function, is a mathematical representation of the relation between the input and output based on the differential equations describing the system.

Although a major application of control theory is in control systems engineering, which deals with the design of process control systems for industry, other applications range far beyond this. As the general theory of feedback systems, control theory is useful wherever feedback occurs. A few examples are in physiology, electronics, climate modeling, machine design, ecosystems, navigation, neural networks, predator–prey interaction, gene expression, and production theory.
